<div *ngIf="isPostLoaded && isUserDataLoaded" class="post-profile">

  <div style="text-align: right">
    <button mat-flat-button color="primary" *ngIf="isAdmin" (click)="openEditDialog()">Редактировать</button>
  </div>

  <div style="padding-top: 2rem;" class="row">
    <div class="col-5" style="width: 450px">
      <img class="post-image" [src]="(post.image)" alt="post image">
    </div>

    <div class="col" style="text-align: left; width: 400px">
      <div>
        <h1 style="font-family: 'Arial Black'; display:inline-block;">
          {{post.title}}
        </h1>
        <button style="float: right; display:inline-block; margin-right: 30px" *ngIf="isUserDataLoaded" mat-button
                (click)="likePost()"
                [ngClass]="post.usersLiked.indexOf(user.username) !== -1 ? 'is-liked' : 'not-liked'">
          <mat-icon class="icon-display">favorite</mat-icon>
          {{post.likes}}
        </button>
      </div>

      <h3 style="font-style: italic">{{post.genre}}</h3>
      <h3 style="font-style: italic">{{post.shortInfo}}</h3>
      <div *ngIf="post.executor != ''" style="text-align: left">
        <h1 style="font-family: 'Arial Black'">Исполнитель</h1>
        <pre><h3 style="font-style: italic">{{post.executor}}</h3></pre>
      </div>
    </div>

    <div style="text-align: left">
      <h1 style="font-family: 'Arial Black'">О концерте</h1>
      <pre><h3 style="font-style: italic; white-space: pre-line;">{{post.info}}</h3></pre>
    </div>

    <div *ngIf="post.address != ''" style="text-align: left">
      <h1 style="font-family: 'Arial Black'">Адрес</h1>
      <pre><h3 style="font-style: italic; white-space: pre-line;">{{post.address}}</h3></pre>
    </div>

    <div style="text-align: left; margin-top: 100px">
      <h1 style="font-family: 'Arial Black'; ">Отзывы</h1>

      <mat-form-field class="w-100">
        <mat-label>Оставить отзыв</mat-label>
        <input (keyup.enter)="postComment($event)" matInput #message maxlength="128">
        <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
      </mat-form-field>

      <p *ngFor="let comment of post.comments"><span
        style="font-weight: 500">{{comment.username}}</span>: {{comment.message}}</p>
    </div>

    <mat-divider style="margin: 2rem 0"></mat-divider>

  </div>
</div>
