<div class="edit-post">
  <h2 style="margin-bottom: 40px; margin-top: 40px; color: #0f0f0f">Изменить пост</h2>
  <form [formGroup]="postEditForm" class="form-horizontal">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Название</mat-label>
      <input matInput
             formControlName="title">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Инфомация на карточке</mat-label>
      <input matInput
             formControlName="titleInfo">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Полная информация</mat-label>
      <textarea style="height: 150px" matInput
                formControlName="info"></textarea>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Краткая информация</mat-label>
      <textarea style="height: 100px" matInput
                formControlName="shortInfo"></textarea>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Жанр</mat-label>
      <input matInput
             formControlName="genre">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Рейтинг</mat-label>
      <textarea matInput
                formControlName="rating"></textarea>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Адрес</mat-label>
      <textarea style="height: 100px" matInput
                formControlName="address"></textarea>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Метро</mat-label>
      <input matInput
             formControlName="metro">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Фото</mat-label>
      <input matInput
             formControlName="image">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Фото главной страницы</mat-label>
      <input matInput
             formControlName="mainImage">
    </mat-form-field>

    <div class="row">
      <button (click)="closeDialog()" class="w-100"
              mat-button mat-dialog-close disableRipple
              style="color: #ffffff;
              background-color: #f87806;
              font-family: 'TT Travels Medium';
              margin-bottom: 10px;
              height: 42px">
        Закрыть
      </button>
      <button color="primary" class="w-100" [disabled]="postEditForm.invalid" (click)="submit()" mat-button disableRipple
              style="color: #ffffff;
              background-color: #f87806;
              font-family: 'TT Travels Medium';
              margin-bottom: 10px;
              height: 42px">
        Обновить
      </button>
      <button color="white" class="w-100" [disabled]="postEditForm.invalid" (click)="delete()" mat-button disableRipple
              style="color: #ffffff;
              background-color: #f87806;
              font-family: 'TT Travels Medium';
              margin-bottom: 20px;
              height: 42px">
        Удалить
      </button>
    </div>
  </form>
</div>
