<div class="register-page">
  <h2>Зарегистрироваться</h2>
  <p>Уже есть аккаунт?   <a routerLink="/login">Войти</a></p>
  <form [formGroup]="registerForm">
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Почта</mat-label>
        <input matInput
               formControlName="email">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Ник</mat-label>
        <input matInput
               formControlName="username">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Имя</mat-label>
        <input matInput
               formControlName="firstname">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input matInput
               formControlName="lastname">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input type="password" matInput
               formControlName="password">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Подтвердить пароль</mat-label>
        <input type="password" matInput
               formControlName="confirmPassword">
      </mat-form-field>
    </div>

    <button style="width: 15%;
    border-radius: 8px;
    height: 42px;
    background-color: #f87806;
    color: #f0f0f0;
    font-family: 'TT Travels Medium'" [disabled]="registerForm.invalid" (click)="submit()" mat-flat-button color="primary">
      Зарегистрироваться
    </button>

  </form>
</div>
