.post-profile {
  display: block;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding-top: 3rem;
}

.post-image2 {
  width: 100%;
  display: block;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.element2 {
  width: fit-content;
  height: 40px;
  padding: 1px 20px;
  margin-right: 5px;
  margin-bottom: -5px;
  margin-left: -10px;
  color: #0f0f0f;
  border-radius: 10px;
  border: 2px solid #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-display {
  transform: scale(1.5);
}

h1, h2 {
  font-family: DemiBold;
}

h5 {
  font-family: Medium;
}

.is-liked {
  background-color: #f87806;
  color: #f0f0f0;
}

.is-liked .icon-display, .is-liked span {
  color: #f0f0f0;
  transform: scale(1.5);
}

.not-liked {
  background-color: #f0f0f0;
  color: #0f0f0f;
}

.not-liked .icon-display, .not-liked span {
  color: #0f0f0f;
  transform: scale(1.5);
}


