<div *ngIf="isPostsLoaded && isUserDataLoaded" class="index-page">

  <div class="search">
    <mat-form-field class="example-full-width">
      <mat-label>Поиск</mat-label>
      <input matInput placeholder="" type="text" [(ngModel)]="titleSearch">
    </mat-form-field>
  </div>

  <div class="search">
    <mat-form-field appearance="fill">
      <mat-label>По популярности</mat-label>
      <mat-select [(value)]="selectedByLikes">
        <mat-option value="default">По умолчанию</mat-option>
        <mat-option value="asc">По возрастанию</mat-option>
        <mat-option value="desc">По убыванию</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="search">
    <mat-form-field appearance="fill">
      <mat-label>Жанр</mat-label>
      <mat-select [(value)]="selectedByGenre">
        <mat-option value="default">Все жанры</mat-option>
        <mat-option value="g1">Авторское кино</mat-option>
        <mat-option value="g2">Боевик</mat-option>
        <mat-option value="g3">Детектив</mat-option>
        <mat-option value="g4">Драма</mat-option>
        <mat-option value="g5">Комедия</mat-option>
        <mat-option value="g6">Мелодрама</mat-option>
        <mat-option value="g7">Мультфильм</mat-option>
        <mat-option value="g8">Приключения</mat-option>
        <mat-option value="g9">Семейное кино</mat-option>
        <mat-option value="g10">Трагикомедия</mat-option>
        <mat-option value="g11">Триллер</mat-option>
        <mat-option value="g12">Ужасы</mat-option>
        <mat-option value="g13">Фантастика</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="search-right">
    <button mat-flat-button color="primary" [routerLink]="['/film/', selectedByLikes, selectedByGenre]">Применить</button>
  </div>

  <div class="search-right">
    <button mat-stroked-button color="primary"
            (click)="selectedByLikes = 'default';
            selectedByGenre = 'default';
            titleSearch = '';">Очистить поля</button>
  </div>

  <div style="display: flex; flex-wrap: wrap">
    <mat-card class="post-card" *ngFor="let post of posts | filter:titleSearch; let i = index">
      <img mat-card-image [src]="(post.mainImage)" alt="post image">
      <mat-card-content style="margin-top: -40px">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="font-family: DemiBold; margin-top: -5px" [routerLink]="[post.referenceInfo, post.id]">{{post.title}}</mat-card-title>
        <p>{{post.cinema}}</p>
      </mat-card-content>

      <mat-card-actions>
        <button [value]="post.likes" *ngIf="isUserDataLoaded" mat-button (click)="likePost(post.id)" [ngClass]="post.usersLiked.indexOf(user.username) !== -1 ? 'is-liked' : 'not-liked'">
          <mat-icon class="icon-display">favorite</mat-icon>{{post.usersLiked.length}}</button>
      </mat-card-actions>

    </mat-card>
  </div>
</div>
