<div *ngIf="isPostsLoaded && isUserDataLoaded" class="index-page">
  <div class="filter-container">
    <div class="search">
      <mat-form-field class="example-full-width">
        <mat-label>Поиск</mat-label>
        <input matInput placeholder="" type="text" [(ngModel)]="titleSearch">
      </mat-form-field>
    </div>

    <div class="search">
      <mat-form-field appearance="fill">
        <mat-label>По популярности</mat-label>
        <mat-select [(value)]="selectedByLikes">
          <mat-option style="font-family: 'TT Travels Medium'">None</mat-option>
          <mat-option value="asc" style="font-family: 'TT Travels Medium'">По возрастанию</mat-option>
          <mat-option value="desc" style="font-family: 'TT Travels Medium'">По убыванию</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search">
      <mat-form-field appearance="fill">
        <mat-label>Жанр</mat-label>
        <mat-select [(value)]="selectedByGenre">
          <mat-option value="default">Все жанры</mat-option>
          <mat-option value="g1">Авторское кино</mat-option>
          <mat-option value="g2">Боевик</mat-option>
          <mat-option value="g3">Детектив</mat-option>
          <mat-option value="g4">Драма</mat-option>
          <mat-option value="g5">Комедия</mat-option>
          <mat-option value="g6">Мелодрама</mat-option>
          <mat-option value="g7">Мультфильм</mat-option>
          <mat-option value="g8">Приключения</mat-option>
          <mat-option value="g9">Семейное кино</mat-option>
          <mat-option value="g10">Трагикомедия</mat-option>
          <mat-option value="g11">Триллер</mat-option>
          <mat-option value="g12">Ужасы</mat-option>
          <mat-option value="g13">Фантастика</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-right">
      <button mat-flat-button style="border-radius: 8px;
        height: 42px;
        background-color: #f87806;
        color: #f0f0f0;
        font-family: 'TT Travels Medium'" [routerLink]="['/film/', selectedByLikes, selectedByGenre]">
        Применить
      </button>
    </div>

    <div class="search-right">
      <button mat-stroked-button style="border-radius: 8px;
        height: 42px;
        background-color: #ffffff;
        border-color: #f87806;
        color: #f87806;
        font-family: 'TT Travels Medium'"
              (click)="selectedByLikes = 'default';
              selectedByGenre = 'default';
              titleSearch = '';">
        Очистить поля
      </button>
    </div>
  </div>

  <div class="card-container">
    <div style="display: flex; flex-wrap: wrap">
      <mat-card class="post-card" *ngFor="let post of posts | filter:titleSearch; let i = index">

        <div style="position: relative">
          <img mat-card-image [src]="(post.mainImage)" alt="post image">
          <div class="like-container" >
            <button style="" [value]="post.likes" *ngIf="isUserDataLoaded" mat-button (click)="likePost(post.id)" [ngClass]="post.usersLiked.indexOf(user.username) !== -1 ? 'is-liked' : 'not-liked'">
              <mat-icon class="icon-display" style="padding-left: -5px">favorite</mat-icon>
              <span class="like-count">{{post.usersLiked.length}}</span>
            </button>
          </div>
        </div>

        <mat-card-content>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="margin-top: -30px; margin-left: -9px; font-family: 'TT Travels DemiBold'; font-size: 20px" [routerLink]="[post.referenceInfo, post.id]">
            {{post.title}}
          </mat-card-title>
          <p style="margin-top: 2px; margin-left: -9px; margin-bottom: 10px; color: #6F6F6F">
            {{post.cinema}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
