.index-page {
  margin: 0 auto;
  width: 90%;
  padding-top: 3rem;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.icon-display {
  transform: scale(1.2);
}

h1, h2 {
  font-family: DemiBold;
  font-size: 70px;
}

h5 {
  font-family: Medium;
}

.is-liked {
  color: darkorange;
}

.not-liked {
  color: grey;
}
