.index-page {
  margin: 0 auto;
  width: 80%;
  padding-top: 3rem;
}

.post-card {
  display: block;
  object-fit: cover;
  width: 400px;
  height: 350px;
  margin: 20px;
}

.search {
  display:inline-block;
  margin-right: 30px;
}

.search-right {
  display:inline-block;
  margin-right: 30px;
  float: right;
}

img {
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.icon-display {
  transform: scale(1.2);
}

.is-liked {
  color: darkorange;
}

.not-liked {
  color: grey;
}
