.index-page {
}

.search {
  display:inline-block;
  margin-right: 30px;
}

.search-right {
  display:inline-block;
  margin-right: 30px;
  float: right;
}

.filter-container {
  margin: 0 auto;
  width: 80%;
  padding-top: 3rem;
}
.card-container {
  margin: 0 auto;
  width: 80%;
  padding-top: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.post-card {
  display: block;
  object-fit: cover;
  width: 400px;
  height: 350px;
  margin-left: 40px;
  margin-top: 40px;
  box-shadow: none;
  background-color: #ffffff;
  border-radius: 8px;
}

img {
  border-radius: 8px !important;
  margin-left: 10px;
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.like-container {
  position: absolute;
  top: 26px;
  right: 37px;
  z-index: 1;
}

.is-liked {
  color: #f0f0f0;
  background-color: #f87806;
  border-radius: 9px;
  font-size: 14px;
  height: 33px;
  width: 10px;
}

.is-liked .icon-display, .is-liked span {
  transform: scale(1);
  color: #f0f0f0;
}

.not-liked {
  color: #0f0f0f;
  background-color: #f0f0f0;
  border-radius: 9px;
  font-size: 14px;
  height: 33px;
}

.not-liked .icon-display, .not-liked span {
  transform: scale(1);
  color: #0f0f0f;
}

.like-count {
  margin-left: -3px;
}

@media (min-width: 1024px) {
  .index-page .post-card {
    width: calc(33.33% - 40px); /* 3 карточки в ряд, с отступами между ними */
  }
}

@media (max-width: 1023px) {
  .index-page .post-card {
    width: calc(50% - 40px); /* 2 карточки в ряд, с отступами между ними */
  }
  .like-container {
    top: 25px;
    right: 5px;
  }
}

@media (max-width: 767px) {
  .index-page .post-card {
    width: 100%; /* 1 карточка на всю ширину экрана */
    margin: 0 auto;
  }
  .like-container {
    top: 26px;
    right: 55px;
  }
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filter-container > div {
    width: 100%;
    margin-bottom: 10px;
  }
  .filter-container mat-form-field {
    width: 100%;
    margin-bottom: -10px;
  }
  .filter-container button {
    width: 100%;
    margin-bottom: 10px;
  }
  .card-container {
    justify-content: center;
  }
}
