@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$orange-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette);

$my-custom-typography-config: mat.define-typography-config(
);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: $my-custom-typography-config
));

@include mat.all-component-themes($my-theme);
